/* The * universal selector section applies style and structure changes to the entire webpage, while the header and body deal with the unseen portions of th webpage and the visible page respectively*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:pink
}

header{
    position:relative;
}

a{
    font-size:x-large;
}

/*These sections provide styling and interactivity to the elements nested in the header photo(pink clouds)*/

.About{
    position:absolute;
    color:white;
    margin:auto;
    text-align: end;
    text-shadow: 1px 1px 2px red;
}

.About:hover{
    color:hotpink;
}

.Past_Projects{
    position:absolute;
    bottom: 12px;
    top: 25px;
    color:white;
    margin:auto;
    text-align: end;
    text-shadow: 1px 1px 2px red;
}

.Past_Projects:hover{
    color:hotpink;
}

.Contact{
    position:absolute;
    bottom: 16px;
    top: 50px;
    color:white;
    margin:auto;
    text-align: end;
    text-shadow: 1px 1px 2px red;
}

.Contact:hover{
    color:hotpink;
}

/*The following provides styling and structural choices to the pink clouds header image as well as my name at the top of the page*/

img {
    display: block;
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    font-size: xx-large;
    margin: auto;
    background-color: hotpink;
    border-radius: 25px;
    display: block;
    width: 25%;
    text-shadow: 1px 1px 2px white;
    color: red;
    text-decoration: solid;
    text-align: center;
    border-style: solid;
    border-color:white;
}

/*A class was added for the profile picture here to differentiate the styling choices for the profile picure from those of the pink clouds image*/

.Profile_Picture img{
    margin: auto;
    display: block;
    border-style: solid;
    border-color: white;
    height:305px;
    width: 275px;
    position:relative
}

/*The following provides styling for the "About Me" section. As it is not interactive or linked to anything it requires minimal portions of CSS.*/

.About_Me{
    position:relative;
    margin: auto;
    background-color: hotpink;
    display: block;
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;
    border-style: solid;
    border-color:white;
}

/*The following portions provide structure and style to the "Past Projects" section. As this is the largest part of the webpage with the most interactivity and links, a large amount of the CSS file was dedicated to it.*/

.Projects{
    margin: auto;
    background-color: palevioletred;
    display: block;
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;
    border-style: solid;
    border-color:white;
}

.Main_Project{
    margin: auto;
    background-color: hotpink;
    border-radius: 25px;
    border-style: solid;
    border-color:red;
}

.Main_Project a{
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;
}

.Main_Project a:hover{
    color:hotpink;
}

.Main_Project:hover{
    background-color: pink; 
}

.Main_Project img{
    height:350px;
    width:60%;
    border-style:solid;
    border-color:red;
}

.Side_Projects{
    display:flex;
}

.Chat{
    margin: auto;
    background-color: hotpink;
    border-radius: 25px;
    border-style: solid;
    border-color:red;
    width:25%;
}

.Chat:hover{
    background-color: pink;
}

.Chat a{
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;
}

.Chat a:hover{
    color:hotpink;
}

.Facebook{
    margin: auto;
    background-color: hotpink;
    border-radius: 25px;
    border-style: solid;
    border-color:red;   
    width: 25%;
}

.Facebook:hover{
    background-color: pink;
}

.Facebook a{
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;
}

.Facebook a:hover{
    color:hotpink;
}

.Google{
    margin: auto;
    background-color: hotpink;
    border-radius: 25px;
    border-style: solid;
    border-color:red;
    width: 25%; 
}

.Google:hover{
    background-color: pink;
}

.Google a{
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;
}

.Google a:hover{
    color:hotpink;
}

.Ultron{
    margin: auto;
    background-color: hotpink;
    border-radius: 25px;
    border-style: solid;
    border-color:red;
    width: 25%;
}

.Ultron:hover{
    background-color: pink;
}

.Ultron a{
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;
}

.Ultron a:hover{
    color:hotpink;
}

.Side_Projects img{
    height:200px;
    width:200px;
    border-style:solid;
    border-color:red;
}

/*This final section provides style and structure to the footer/contact me section. As the resume is interactive a decent amount of work as put into it.*/

footer{
    position:relative;
    margin: auto;
    background-color: pink;
    display: block;
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;
    border-style: solid;
    border-color:white;
}

footer h2{
    display:inline-block;
}

.Resume a{
    text-shadow: 1px 1px 2px red;
    color: white;
    text-decoration: solid;
    text-align: center;  
}

.Resume a:hover{
    color:hotpink;
}